In [ ]:
#get our database url
# create db engine via sqlalchemy

In [ ]:
from env import config
from sqlalchemy import create_engine, text

In [ ]:
DATABASE_URL = config("DATABASE_URL", cast=str, default=None)

In [ ]:
DATABASE_URL is not None

In [ ]:
engine = create_engine(DATABASE_URL)

In [ ]:
DB_NAME = "housing_db"
with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE {DB_NAME}"))

In [ ]:
DB_NAME2 = "ai_travel_prices"
with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE {DB_NAME2}"))

In [ ]:
# DB_NAME2 = "ai_travel_prices"
# with engine.connect() as conn:
#     conn.execute(text(f"DROP DATABASE {DB_NAME2}"))

In [ ]:
with engine.connect() as conn:
    results = conn.execute(text(f"SHOW DATABASES"))
    print(results.all())